## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
df_application_type = application_df['APPLICATION_TYPE'].value_counts()
df_application_type

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(df_application_type[df_application_type < 1].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt1 = classification_counts[classification_counts > 1]
classification_counts_gt1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype='float')
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(['IS_SUCCESSFUL'], axis=1)
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
features = len(X_train_scaled[0])

hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()
# First hidden layer
first_hidden_layer = tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=features, activation='relu')
nn.add(first_hidden_layer)
# Second hidden layer
second_hidden_layer = tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu')
nn.add(second_hidden_layer)

# Output layer
output_layer = tf.keras.layers.Dense(units=1, activation='sigmoid')
nn.add(output_layer)

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 80)                             4,160

 dense_1 (Dense)                       (None, 30)                             2,430

 dense_2 (Dense)                       (None, 1)                                 31

 Total params: 6,621 (25.86 KB)

 Trainable params: 6,621 (25.86 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  4s 3ms/step - accuracy: 0.7026 - loss: 0.5960
Epoch 2/100
804/804  2s 2ms/step - accuracy: 0.7277 - loss: 0.5562
Epoch 3/100
804/804  1s 2ms/step - accuracy: 0.7330 - loss: 0.5510
Epoch 4/100
804/804  3s 2ms/step - accuracy: 0.7257 - loss: 0.5561
Epoch 5/100
804/804  3s 2ms/step - accuracy: 0.7352 - loss: 0.5468
Epoch 6/100
804/804  1s 2ms/step - accuracy: 0.7294 - loss: 0.5510
Epoch 7/100
804/804  4s 3ms/step - accuracy: 0.7300 - loss: 0.5504
Epoch 8/100
804/804  2s 3ms/step - accuracy: 0.7359 - loss: 0.5433
Epoch 9/100
804/804  1s 2ms/step - accuracy: 0.7359 - loss: 0.5454
Epoch 10/100
804/804  2s 2ms/step - accuracy: 0.7348 - loss: 0.5455
Epoch 11/100
804/804  3s 2ms/step - accuracy: 0.7377 - loss: 0.5413
Epoch 12/100
804/804  1s 2ms/step - accuracy: 0.7357 - loss: 0.5463
Epoch 13/100
804/804  1s 2ms/step - accuracy: 0.7376 - loss: 0.5400
Epoch 14/100
804/804  4s 3ms/step - accuracy: 0.7404 - loss: 0.5394
Epoch 15/100
804/804  1s 2ms/step - accuracy: 0.7361 - loss: 0.5428
Epoch 16/100
804/804  1s 2ms/step - accuracy: 0.7395 - loss: 0.5393
Epoch 17/100
804/804  2s 2ms/step - accuracy: 0.7351 - loss: 0.5430
Epoch 18/100
804/804  3s 2ms/step - accuracy: 0.7352 - loss: 0.5453
Epoch 19/100
804/804  3s 2ms/step - accuracy: 0.7382 - loss: 0.5412
Epoch 20/100
804/804  3s 3ms/step - accuracy: 0.7393 - loss: 0.5400
Epoch 21/100
804/804  2s 2ms/step - accuracy: 0.7389 - loss: 0.5419
Epoch 22/100
804/804  1s 2ms/step - accuracy: 0.7391 - loss: 0.5387
Epoch 23/100
804/804  3s 2ms/step - accuracy: 0.7400 - loss: 0.5384
Epoch 24/100
804/804  3s 2ms/step - accuracy: 0.7294 - loss: 0.5451
Epoch 25/100
804/804  1s 2ms/step - accuracy: 0.7390 - loss: 0.5377
Epoch 26/100
804/804  2s 3ms/step - accuracy: 0.7385 - loss: 0.5393
Epoch 27/100
804/804  2s 2ms/step - accuracy: 0.7375 - loss: 0.5386
Epoch 28/100
804/804  2s 2ms/step - accuracy: 0.7370 - loss: 0.5403
Epoch 29/100
804/804  1s 2ms/step - accuracy: 0.7314 - loss: 0.5439
Epoch 30/100
804/804  3s 2ms/step - accuracy: 0.7347 - loss: 0.5418
Epoch 31/100
804/804  1s 2ms/step - accuracy: 0.7367 - loss: 0.5401
Epoch 32/100
804/804  1s 2ms/step - accuracy: 0.7449 - loss: 0.5330
Epoch 33/100
804/804  3s 3ms/step - accuracy: 0.7420 - loss: 0.5398
Epoch 34/100
804/804  1s 2ms/step - accuracy: 0.7382 - loss: 0.5380
Epoch 35/100
804/804  3s 2ms/step - accuracy: 0.7343 - loss: 0.5427
Epoch 36/100
804/804  3s 2ms/step - accuracy: 0.7370 - loss: 0.5388
Epoch 37/100
804/804  2s 2ms/step - accuracy: 0.7408 - loss: 0.5376
Epoch 38/100
804/804  4s 4ms/step - accuracy: 0.7392 - loss: 0.5347
Epoch 39/100
804/804  3s 2ms/step - accuracy: 0.7378 - loss: 0.5392
Epoch 40/100
804/804  3s 2ms/step - accuracy: 0.7378 - loss: 0.5437
Epoch 41/100
804/804  1s 2ms/step - accuracy: 0.7363 - loss: 0.5388
Epoch 42/100
804/804  1s 2ms/step - accuracy: 0.7381 - loss: 0.5390
Epoch 43/100
804/804  3s 2ms/step - accuracy: 0.7352 - loss: 0.5428
Epoch 44/100
804/804  3s 3ms/step - accuracy: 0.7369 - loss: 0.5406
Epoch 45/100
804/804  2s 2ms/step - accuracy: 0.7383 - loss: 0.5382
Epoch 46/100
804/804  3s 4ms/step - accuracy: 0.7351 - loss: 0.5410
Epoch 47/100
804/804  6s 4ms/step - accuracy: 0.7355 - loss: 0.5403
Epoch 48/100
804/804  6s 6ms/step - accuracy: 0.7344 - loss: 0.5362
Epoch 49/100
804/804  2s 2ms/step - accuracy: 0.7394 - loss: 0.5341
Epoch 50/100
804/804  2s 2ms/step - accuracy: 0.7378 - loss: 0.5380
Epoch 51/100
804/804  1s 2ms/step - accuracy: 0.7416 - loss: 0.5334
Epoch 52/100
804/804  1s 2ms/step - accuracy: 0.7370 - loss: 0.5374
Epoch 53/100
804/804  3s 2ms/step - accuracy: 0.7449 - loss: 0.5311
Epoch 54/100
804/804  3s 3ms/step - accuracy: 0.7405 - loss: 0.5319
Epoch 55/100
804/804  2s 2ms/step - accuracy: 0.7372 - loss: 0.5393
Epoch 56/100
804/804  2s 2ms/step - accuracy: 0.7425 - loss: 0.5344
Epoch 57/100
804/804  1s 2ms/step - accuracy: 0.7390 - loss: 0.5380
Epoch 58/100
804/804  3s 3ms/step - accuracy: 0.7396 - loss: 0.5358
Epoch 59/100
804/804  3s 3ms/step - accuracy: 0.7382 - loss: 0.5366
Epoch 60/100
804/804  2s 3ms/step - accuracy: 0.7415 - loss: 0.5331
Epoch 61/100
804/804  1s 2ms/step - accuracy: 0.7386 - loss: 0.5385
Epoch 62/100
804/804  3s 2ms/step - accuracy: 0.7378 - loss: 0.5363
Epoch 63/100
804/804  2s 2ms/step - accuracy: 0.7409 - loss: 0.5339
Epoch 64/100
804/804  1s 2ms/step - accuracy: 0.7388 - loss: 0.5362
Epoch 65/100
804/804  1s 2ms/step - accuracy: 0.7381 - loss: 0.5370
Epoch 66/100
804/804  4s 3ms/step - accuracy: 0.7402 - loss: 0.5363
Epoch 67/100
804/804  2s 2ms/step - accuracy: 0.7425 - loss: 0.5309
Epoch 68/100
804/804  1s 2ms/step - accuracy: 0.7408 - loss: 0.5332
Epoch 69/100
804/804  3s 2ms/step - accuracy: 0.7374 - loss: 0.5404
Epoch 70/100
804/804  1s 2ms/step - accuracy: 0.7369 - loss: 0.5420
Epoch 71/100
804/804  1s 2ms/step - accuracy: 0.7379 - loss: 0.5397
Epoch 72/100
804/804  4s 3ms/step - accuracy: 0.7432 - loss: 0.5339
Epoch 73/100
804/804  2s 3ms/step - accuracy: 0.7324 - loss: 0.5394
Epoch 74/100
804/804  1s 2ms/step - accuracy: 0.7385 - loss: 0.5377
Epoch 75/100
804/804  2s 2ms/step - accuracy: 0.7392 - loss: 0.5360
Epoch 76/100
804/804  2s 2ms/step - accuracy: 0.7394 - loss: 0.5360
Epoch 77/100
804/804  2s 2ms/step - accuracy: 0.7398 - loss: 0.5334
Epoch 78/100
804/804  1s 2ms/step - accuracy: 0.7410 - loss: 0.5339
Epoch 79/100
804/804  2s 2ms/step - accuracy: 0.7405 - loss: 0.5347
Epoch 80/100
804/804  3s 3ms/step - accuracy: 0.7408 - loss: 0.5367
Epoch 81/100
804/804  2s 2ms/step - accuracy: 0.7427 - loss: 0.5342
Epoch 82/100
804/804  2s 2ms/step - accuracy: 0.7405 - loss: 0.5361
Epoch 83/100
804/804  3s 2ms/step - accuracy: 0.7359 - loss: 0.5355
Epoch 84/100
804/804  1s 2ms/step - accuracy: 0.7377 - loss: 0.5343
Epoch 85/100
804/804  4s 3ms/step - accuracy: 0.7444 - loss: 0.5312
Epoch 86/100
804/804  2s 3ms/step - accuracy: 0.7405 - loss: 0.5360
Epoch 87/100
804/804  2s 2ms/step - accuracy: 0.7399 - loss: 0.5359
Epoch 88/100
804/804  3s 2ms/step - accuracy: 0.7456 - loss: 0.5300
Epoch 89/100
804/804  2s 2ms/step - accuracy: 0.7393 - loss: 0.5349
Epoch 90/100
804/804  3s 2ms/step - accuracy: 0.7349 - loss: 0.5407
Epoch 91/100
804/804  3s 3ms/step - accuracy: 0.7416 - loss: 0.5318
Epoch 92/100
804/804  2s 2ms/step - accuracy: 0.7437 - loss: 0.5325
Epoch 93/100
804/804  3s 2ms/step - accuracy: 0.7428 - loss: 0.5332
Epoch 94/100
804/804  3s 2ms/step - accuracy: 0.7374 - loss: 0.5346
Epoch 95/100
804/804  1s 2ms/step - accuracy: 0.7406 - loss: 0.5361
Epoch 96/100
804/804  3s 2ms/step - accuracy: 0.7421 - loss: 0.5317
Epoch 97/100
804/804  2s 3ms/step - accuracy: 0.7436 - loss: 0.5329
Epoch 98/100
804/804  2s 2ms/step - accuracy: 0.7383 - loss: 0.5381
Epoch 99/100
804/804  1s 2ms/step - accuracy: 0.7402 - loss: 0.5339
Epoch 100/100
804/804  1s 2ms/step - accuracy: 0.7434 - loss: 0.5293

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7279 - loss: 0.5581
Loss: 0.558079183101654, Accuracy: 0.7279300093650818

In [19]:
# Export our model to HDF5 file
from google.colab import files
nn.save("AlphabetSoupCharity.h5")
files.download("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.